.container {
    display: flex;
    width: 70%;
    flex-direction: row;
    background: #4a4747;
    gap: 20px;
    padding: 10px;
    border: 1px solid #1f0909;
    border-radius: 5px;
    box-shadow: 0 0 10px #1f0909;
}

.movie {
    display: flex;
    flex-direction: column;
}

img {
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

h1 {
    margin: 10px 0;
    font-size: 1.5rem;
    text-align: center;
    color: #cec6c6;
}

h2,
p {
    color: #cec6c6;
}